.js,.nodejs,.react,.css{
  width: 6.5em;
  border-radius: 5px;
  padding: 3px 0;
  text-align: center;
  background-color: aqua;
  font-weight: 700;
  cursor: pointer;
}

.js{
  background-color: #FFE871;
}

.nodejs{
  background-color: #9CDD85;
  
}

.react{
  
  background-color: #96E6FF;
}

.css{
  background-color: #BEAEFF;
  
}